---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<blockquote>
    <p>
        <i>Note</i>
        Although I wanted to visualize my projects with some fancy thumbnails, I cannot publish the contents by copying or capturing from the in-house resources. 
        So, please understand that I can only explain the project in somewhat dry-looking text without any demonstrations due to security concerns.
    </p>
</blockquote>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
