---
layout: archive
title: "Projects (Industry Archive)"
permalink: /portfolio/
author_profile: true
---

<style>
  .archive__item-title a {
    color: #0F4C81 !important;
    font-weight: bold !important;
    text-decoration: none !important;
  }
  .archive__item-title a:hover {
    text-decoration: underline !important;
  }
</style>

{% include base_path %}

<p>The following projects highlight selected works from my tenure at Samsung Research.</p>

<blockquote style="border-left: 4px solid #C69214; padding: 10px 15px; background-color: #fcfcfc; margin-bottom: 30px; border-radius: 4px;">
  <strong>Note:</strong> To respect company confidentiality, I've kept these summaries text-only without visual assets.<br>    Thanks for understanding!
</blockquote>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
